body {
	background: -webkit-linear-gradient(#000000 0%, #ffffff 100%)
	
}

h1 {
	font-family: sans-serif;
	font-size: x-large;
	font-style: oblique;
}

p {
	background-color: #9ee097;
	font-family: courier, serif;
}